# Example configuraton for Fedora Messaging

# Broker address
amqp_url = "amqp://"

# Authentication is TLS-based
[tls]
ca_cert = "/etc/pki/tls/certs/ca-bundle.crt"
keyfile = "/my/client/key.pem"
certfile = "/my/client/cert.pem"

[client_properties]
app = "github2fedmsg"
