[github2fedmsg]

# This is the "application" key that is used to negotiate oauth on behalf of
# other users:  https://github.com/settings/applications/new
velruse.github.consumer_secret = create-your-own

# This is our "own" oauth bearer token that we use to make authenticated github
# queries: https://github.com/settings/tokens/new
github.secret_oauth_access_token = create-your-own
